[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
python-dotenv = "*"
psycopg2 = "*"
flask = "*"
tenacity = "*"
redis = "*"
retry = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
isort = "*"
mypy = "*"
flake8-bugbear = "*"
flake8-builtins = "*"
flake8-comprehensions = "*"
flake8-string-format = "*"
pre-commit = "*"
black = "*"
coverage = "*"
alembic = "*"
types-retry = "*"
types-redis = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
